<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/lokerinlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lokerinlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lokerin"
        tools:targetApi="31">
        <activity
            android:name=".PelangganViewProfilePekerjaActivity"
            android:exported="false" />
        <!-- Activities -->
        <activity android:name=".ChatActivity" android:exported="false" />
        <activity android:name=".PekerjaEditPortofolioActivity" android:exported="false" />
        <activity android:name=".PekerjaProfileActivity" android:exported="true" >
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".PekerjaCategorizedJobActivity" android:exported="false" />
        <activity android:name=".PekerjaRecommendJobActivity" android:exported="false" />
        <activity android:name=".PekerjaAddKeterampilanActivity" android:exported="false" />
        <activity android:name=".PekerjaAddWorkExperienceActivity" android:exported="false" />
        <activity android:name=".PekerjaModifyWorkExperienceActivity" android:exported="false" />
        <activity android:name=".PekerjaModifyWorkExperienceCategoryActivity" android:exported="false" />
        <activity android:name=".PelangganEditProfileActivity" android:exported="false" />
        <activity android:name=".PelangganProfileActivity" android:exported="false" />
        <activity android:name=".PekerjaDetailJobActivity" android:exported="false" />
        <activity android:name=".PelangganAddJobCategoryFragment" android:exported="false" />
        <activity android:name=".PelangganDetailJobActivity" android:exported="false" />
        <activity android:name=".CreateProfile_WorkExperience" android:exported="false" />
        <activity android:name=".CreateProfile_Skills" android:exported="false" />
        <activity android:name=".ForgetPasswordActivity" android:exported="false" />
        <activity android:name=".CreateProfile_AboutMe" android:windowSoftInputMode="adjustPan" android:exported="true" >
<!--                <intent-filter>-->
<!--                    <action android:name="android.intent.action.MAIN" />-->
<!--                    <category android:name="android.intent.category.LAUNCHER" />-->
<!--                </intent-filter>-->
        </activity>
<!--        <activity android:name=".CreateProfile_PersonalInfo" android:exported="false" />-->
        <activity android:name=".RegisterActivity" android:exported="true">
<!--                <intent-filter>-->
<!--                    <action android:name="android.intent.action.MAIN" />-->
<!--                    <category android:name="android.intent.category.LAUNCHER" />-->
<!--                </intent-filter>-->
        </activity>
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateProfile_PersonalInfo" android:windowSoftInputMode="adjustPan" android:exported="true" />
        <activity android:name=".CreateProfile" android:exported="false" />
        <activity android:name=".PelangganMainActivity" android:exported="true" />
        <activity android:name=".PekerjaEditProfileActivity" android:windowSoftInputMode="adjustPan" android:exported="true" />
        <activity android:name=".PelangganRatingReviewActivity" android:exported="true" />
        <activity android:name=".PelangganEditJobActivity" android:exported="true" />
        <activity android:name=".PelangganEditJobCategoryActivity" android:exported="true" />
        <activity android:name=".PekerjaMainActivity" android:exported="true" />
        <activity android:name=".AdminDetailProfileActivity" android:exported="true" />
        <activity android:name=".AdminDetailJobActivity" android:exported="true" />
        <activity android:name=".AdminMainActivity" android:exported="true">
<!--                <intent-filter>-->
<!--                    <action android:name="android.intent.action.MAIN" />-->
<!--                    <category android:name="android.intent.category.LAUNCHER" />-->
<!--                </intent-filter>-->
        </activity>
    </application>

</manifest>